game{
    display:block;
    margin:2em auto;
    background:yellow;
    width:500px;
    height:500px;
    position:relative;
    overflow:hidden;
}

box{
    display:block;
    background: yellow;
    border-color: red;
    border-style: solid;
    width:100px;
    height:100px;
    position:absolute;
    left:0px;
    top:0px;
    background-size: cover;
    text-align: center;
    font-size: 30px;
}


box[y="1"]{
    top:100px;
}
box[y="2"]{
    top:200px;
}
box[y="3"]{
    top:300px;
}
box[y="4"]{
    top:400px;
}
box[x="1"]{
    left:100px;
}
box[x="2"]{
    left:200px;
}
box[x="3"]{
    left:300px;
}
box[x="4"]{
    left:400px;
}

dice{
    display:block;
    background: url("../imgs/Die_Faces_1.png");
    width:100px;
    height:100px;
    position:absolute;
    left:0px;
    top:0px;
    background-size: cover;
    text-align: center;
    font-size: 30px;
}

dice[score="2"]{
    background: url("../imgs/Die_Faces_1.png");
    background-size: cover;
}

dice[score="2"]{
    background: url("../imgs/Die_Faces_2.png");
    background-size: cover;
}

dice[score="3"]{
    background: url("../imgs/Die_Faces_3.png");
    background-size: cover;
}
dice[score="4"]{
    background: url("../imgs/Die_Faces_4.png");
    background-size: cover;
}
dice[score="5"]{
    background: url("../imgs/Die_Faces_5.png");
    background-size: cover;
}
dice[score="6"]{
    background: url("../imgs/Die_Faces_6.png");
    background-size: cover;
}

dice[score="0"]{
    background: url("../imgs/dice.gif");
    background-size: cover;
}
