.theBoard{
    display:inline-block;
    width:1200px;
    height:700px;
    position:absolute;
    overflow:hidden;
    left: 290px;
    top: 10px;
}
box{
    display:inline-block;
    width:100px;
    height:100px;
    position:absolute;
    left:0;
    top:0;
    background-size: cover;
    text-align: center;
    font-size: 30px;
}


box[y="1"]{
    top:100px;
}
box[y="2"]{
    top:200px;
}
box[y="3"]{
    top:300px;
}
box[y="4"]{
    top:400px;
}
box[y="5"]{
    top:500px;
}
box[y="6"]{
    top:600px;
}
box[y="7"]{
    top:700px;
}
box[y="8"]{
    top:800px;
}
box[y="9"]{
    top:900px;
}
box[y="10"]{
    top:1000px;
}
box[y="11"]{
    top:1100px;
}
box[y="12"]{
    top:1200px;
}

box[x="1"]{
    left:100px;
}
box[x="2"]{
    left:200px;
}
box[x="3"]{
    left:300px;
}
box[x="4"]{
    left:400px;
}
box[x="5"]{
    left:500px;
}
box[x="6"]{
    left:600px;
}
box[x="7"]{
    left:700px;
}
box[x="8"]{
    left:800px;
}
box[x="9"]{
    left:900px;
}
box[x="10"]{
    left:1000px;
}
box[x="11"]{
    left:1100px;
}
box[x="12"]{
    left:1200px;
}

ฺฺbox#battle{
    width: 300px;
    height: 150px;
    position:absolute;
}

box#g1{
    background-image: url("../imgs/board/board_00.png");
    background-size: cover;
}
box#g2{
    background-image: url("../imgs/board/board_01.png");
    background-size: cover;
}
box#g3{
    background-image: url("../imgs/board/board_02.png");
    background-size: cover;
}
box#g4{
    background-image: url("../imgs/board/board_03.png");
    background-size: cover;
}
box#g5{
    background-image: url("../imgs/board/board_04.png");
    background-size: cover;
}
box#g6{
    background-image: url("../imgs/board/board_05.png");
    background-size: cover;
}
box#g7{
    background-image: url("../imgs/board/board_06.png");
    background-size: cover;
}
box#g8{
    background-image: url("../imgs/board/board_07.png");
    background-size: cover;
}
box#g9{
    background-image: url("../imgs/board/board_08.png");
    background-size: cover;
}
box#g10{
    background-image: url("../imgs/board/board_09.png");
    background-size: cover;
}
box#g11{
    background-image: url("../imgs/board/board_10.png");
    background-size: cover;
}
box#g12{
    background-image: url("../imgs/board/board_11.png");
    background-size: cover;
}
box#g13{
    background-image: url("../imgs/board/board_12.png");
    background-size: cover;
}
box#g14{
    background-image: url("../imgs/board/board_13.png");
    background-size: cover;
}
box#g15{
    background-image: url("../imgs/board/board_14.png");
    background-size: cover;
}
box#g16{
    background-image: url("../imgs/board/board_15.png");
    background-size: cover;
}
box#g17{
    background-image: url("../imgs/board/board_16.png");
    background-size: cover;
}
box#g18{
    background-image: url("../imgs/board/board_17.png");
    background-size: cover;
}
box#g19{
    background-image: url("../imgs/board/board_18.png");
    background-size: cover;
}
box#g20{
    background-image: url("../imgs/board/board_19.png");
    background-size: cover;
}
box#g21{
    background-image: url("../imgs/board/board_20.png");
    background-size: cover;
}
box#g22{
    background-image: url("../imgs/board/board_19.png");
    background-size: cover;
}
box#g23{
    background-image: url("../imgs/board/board_21.png");
    background-size: cover;
}
box#g24{
    background-image: url("../imgs/board/board_19.png");
    background-size: cover;
}
box#g25{
    height: 200px;
    background-image: url("../imgs/board/board_22_23.png");
    background-size: cover;
}
box#g27{
    background-image: url("../imgs/board/board_24.png");
    background-size: cover;
}
box#g28{
    background-image: url("../imgs/board/board_25.png");
    background-size: cover;
}
box#g29{
    background-image: url("../imgs/board/board_26.png");
    background-size: cover;
}
box#g30{
    background-image: url("../imgs/board/board_27.png");
    background-size: cover;
}
box#g31{
    background-image: url("../imgs/board/board_29.png");
    background-size: cover;
}
box#g32{
    background-image: url("../imgs/board/board_30.png");
    background-size: cover;
}
box#g33{
    background-image: url("../imgs/board/board_31.png");
    background-size: cover;
}
box#g34{
    background-image: url("../imgs/board/board_32.png");
    background-size: cover;
}
box#g35{
    background-image: url("../imgs/board/board_33.png");
    background-size: cover;
}
box#g36{
    background-image: url("../imgs/board/board_34.png");
    background-size: cover;
}
box#g37{
    background-image: url("../imgs/board/board_35.png");
    background-size: cover;
}
box#g38{
    background-image: url("../imgs/board/board_36.png");
    background-size: cover;
}
box#g39{
    background-image: url("../imgs/board/board_37.png");
    background-size: cover;
}
box#g40{
    background-image: url("../imgs/board/board_38.png");
    background-size: cover;
}
box#g41{
    background-image: url("../imgs/board/board_39.png");
    background-size: cover;
}
box#g42{
    background-image: url("../imgs/board/board_40.png");
    background-size: cover;
}
box#g43{
    background-image: url("../imgs/board/board_41.png");
    background-size: cover;
}
box#g44{
    background-image: url("../imgs/board/board_42.png");
    background-size: cover;
}
box#g45{
    background-image: url("../imgs/board/board_43.png");
    background-size: cover;
}
box#g46{
    background-image: url("../imgs/board/board_44.png");
    background-size: cover;
}




