character{
    /*display:block;*/
    position:absolute;
    width: 80px;
    height: 80px;
    background-image: url("../imgs/Player.png");
    background-size: cover;
    top: 410px;
    left: 10px;
    color: red;
}

#player2{
    color: blue;
}

character[animate = "1"]{
    animation: movement 1s infinite linear alternate;
}

@keyframes movement {
    0% {transform: rotate(0deg)}
    20% {transform: rotate(20deg)}
    40% {transform: rotate(0deg)}
    60% {transform: rotate(20deg)}
    80% {transform: rotate(0deg)}
    100% {transform: rotate(20deg)}
}

character[step = "1"]{
    top: 410px;
    left: 10px;
}

character[step = "2"]{
    top: 410px;
    left: 110px;
}

character[step = "3"]{
    top: 410px;
    left: 210px;
}
character[step = "4"]{
    top: 410px;
    left: 310px;
}
character[step = "5"]{
    top: 410px;
    left: 410px;
}
character[step = "6"]{
    top: 310px;
    left: 410px;
}

character[step = "7"]{
    top: 310px;
    left: 310px;
}

character[step = "8"]{
    top: 310px;
    left: 210px;
}
character[step = "9"]{
    top: 310px;
    left: 110px;
}
character[step = "10"]{
    top: 310px;
    left: 10px;
}
character[step = "11"]{
    top: 210px;
    left: 10px;
}
character[step = "12"]{
    top: 210px;
    left: 110px;
}
character[step = "13"]{
    top: 210px;
    left: 210px;
}
character[step = "14"]{
    top: 210px;
    left: 310px;
}
character[step = "15"]{
    top: 210px;
    left: 410px;
}
character[step = "16"]{
    top: 110px;
    left: 410px;
}
character[step = "17"]{
    top: 110px;
    left: 310px;
}
character[step = "18"]{
    top: 110px;
    left: 210px;
}
character[step = "19"]{
    top: 110px;
    left: 110px;
}
character[step = "20"]{
    top: 110px;
    left: 10px;
}
character[step = "21"]{
    top: 10px;
    left: 10px;
}
character[step = "22"]{
    top: 10px;
    left: 110px;
}
character[step = "23"]{
    top: 10px;
    left: 210px;
}
character[step = "24"]{
    top: 10px;
    left: 310px;
}
character[step = "25"]{
    top: 10px;
    left: 410px;
}
