character{
    display:inline-block;
    position:absolute;
    width: 180px;
    height: 180px;
    background-image: url("../imgs/Player.png");
    background-size: cover;
    color: red;
    transition: 0.2s;
}
#player1{
     color: red;
     background-image: url("../imgs/Charecter_Ome.gif");
 }
#player2{
    color: blue;
    background-image: url("../imgs/Charecter_Jay.gif");
 }

#player3{
    color: green;
    display: none;
}

#player4{
    color: yellow;
    display: none;
}

character[step = "0"]{
    top: 565px;
    left: -20px;
}

character[step = "1"]{
    top: 565px;
    left: 80px;
}

character[step = "2"]{
    top: 565px;
    left: 180px;
}
character[step = "3"]{
    top: 565px;
    left: 280px;
}
character[step = "4"]{
    top: 565px;
    left: 380px;
}
character[step = "5"]{
    top: 565px;
    left: 480px;
}

character[step = "6"]{
    top: 565px;
    left: 580px;
}

character[step = "7"]{
    top: 565px;
    left: 680px;
}
character[step = "8"]{
    top: 565px;
    left: 780px;
}
character[step = "9"]{
    top: 565px;
    left: 880px;
}
character[step = "10"]{
    top: 565px;
    left: 980px;
}
character[step = "11"]{
    top: 565px;
    left: 1080px;
}
character[step = "12"]{
    top: 465px;
    left: 1080px;
}
character[step = "13"]{
    top: 365px;
    left: 1080px;
    transition: 0.5s;
    transform: rotateY(180deg);
}
character[step = "14"]{
    top: 365px;
    left: 980px;
    transform: rotateY(180deg);
}
character[step = "15"]{
    top: 365px;
    left: 880px;
    transform: rotateY(180deg);
}
character[step = "16"]{
    top: 365px;
    left: 780px;
    transform: rotateY(180deg);
}
character[step = "17"]{
    top: 365px;
    left: 680px;
    transform: rotateY(180deg);
}
character[step = "18"]{
    top: 365px;
    left: 580px;
    transform: rotateY(180deg);
}
character[step = "19"]{
    top: 365px;
    left: 480px;
    transform: rotateY(180deg);
}
character[step = "20"]{
    top: 365px;
    left: 380px;
    transform: rotateY(180deg);
}
character[step = "21"]{
    top: 365px;
    left: 280px;
    transform: rotateY(180deg);
 }
character[step = "22"]{
    top: 365px;
    left: 180px;
    transform: rotateY(180deg);
}
character[step = "23"]{
    top: 365px;
    left: 80px;
    transform: rotateY(180deg);
}
character[step = "24"]{
    top: 295px;
    left: -20px;
    transition: 0.5s;
}
character[step = "25"]{
    top: 265px;
    left: 80px;
}
character[step = "26"]{
    top: 265px;
    left: 180px;
}
character[step = "27"]{
    top: 165px;
    left: 180px;
    transition: 0.5s;
    transform: rotateY(180deg);
}
character[step = "28"]{
    top: 165px;
    left: 80px;
    transform: rotateY(180deg);
}
character[step = "29"]{
    top: 165px;
    left: -20px;
    transform: rotateY(180deg);
}
character[step = "30"]{
     top: 65px;
     left: -20px;
    transform: rotateY(180deg);
 }
character[step = "31"]{
    top: -35px;
    left: -20px;
    transition: 0.5s;
}
character[step = "32"]{
    top: -35px;
    left: 80px;
}
character[step = "33"]{
    top: -35px;
    left: 180px;
}
character[step = "34"]{
    top: -35px;
    left: 280px;
}
character[step = "35"]{
    top: -35px;
    left: 380px;
}
character[step = "36"]{
    top: -35px;
    left: 480px;
}
character[step = "37"]{
    top: 65px;
    left: 480px;
}
character[step = "38"]{
    top: 165px;
    left: 480px;
}
character[step = "39"]{
    top: 165px;
    left: 580px;
}
character[step = "40"]{
    top: 65px;
    left: 580px;
}
character[step = "41"]{
    top: -35px;
    left: 580px;
}
character[step = "42"]{
    top: -35px;
    left: 680px;
}
character[step = "43"]{
    top: 65px;
    left: 680px;
}
character[step = "44"]{
    top: 165px;
    left: 680px;
}
