html{
    scroll-behavior: smooth;
}
body{
    background-image: url("../imgs/background_fixed.png");
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: initial;
    color: white;
    /*overflow-x: hidden;*/
    overflow-y: hidden;
}
game{
    display: none;
    width:3000px;
    height:720px;
    position:relative;
    overflow:hidden;
    margin-top: 20px;
}
#theBoard{
    position:absolute;
    left: 290px;
}
#theTurn{
    position:absolute;
    padding: 10px;
    color: white;
}
#theDice{
    position:absolute;
    left: 0px;
    top: 580px;
}
#theLife{
    position: absolute;
    top: 100px;
    color: white;
}
div#theLife h3{
    margin-bottom: 40px;
    line-height: 25px;
    font-size: 25px;
}
dice{
    background: url("../imgs/dice_type_new_1.png");
    width:130px;
    height:130px;
    position:absolute;
    left:10px;
    background-size: cover;
    text-align: center;
    font-size: 30px;
}

#selectPlayer{
    color: white;
}

dice[score="2"]{
    background: url("../imgs/dice_type_new_1.png");
    background-size: cover;
}

dice[score="2"]{
    background: url("../imgs/dice_type_new_2.png");
    background-size: cover;
}

dice[score="3"]{
    background: url("../imgs/dice_type_new_3.png");
    background-size: cover;
}
dice[score="4"]{
    background: url("../imgs/dice_type_new_4.png");
    background-size: cover;
}
dice[score="5"]{
    background: url("../imgs/dice_type_new_5.png");
    background-size: cover;
}
dice[score="6"]{
    background: url("../imgs/dice_type_new_6.png");
    background-size: cover;
}

dice[score="0"]{
    background: url("../imgs/dice_new_type_1_full.gif");
    background-size: cover;
}
#theDice1{
    display: inline-block;
}
#theDice2{
    left: 140px;
    display: inline-block;
}

#id{
    border-style: solid;
    width: 200px;
    text-align: center;
    display: inline-block;
}

#theObj{
    width: 100%;
}

.select:Hover{
    color: red;
    text-decoration: underline;
}

.plot{
    border-style: solid;
    border-radius: 30px;
    width: 260px;
    height: 40px;
    margin-bottom: 30px;
    display: inline-block;
}

.battle{
    background: green;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 2px;
    width: 0px;
    height: 36px;

}

#theBattle{
    width: 270px;
    height: 150px;
    position:absolute;
    top: 420px;
    display: none;
}

.theLife{
    display: inline-flex;
    height: 25px;
}
.obtion{
    position: fixed;
    height: 720px;
    width: 280px;
    left: 10px;
    top: 20px;
    background-image: url("../imgs/background.png");
    background-size: cover;
    border: 3px black solid;
    border-radius: 20px;
}

#theEvent{
    display: none;
    position: fixed;
    width: 400px;
    height: 150px;
    background-size: contain;
    left: 45%;
    top: 30px;
    background: url("../imgs/Event/Event_1.png") no-repeat center;
}

