game{
    display: inline-block;
    width:1590px;
    height:750px;
    position:relative;
    overflow:hidden;
}
#theBoard{
    display: none;
    position:absolute;
    left: 290px;
}
#theTurn{
    display: none;
    position:absolute;
    padding: 10px;
}
#theDice{
    display: none;
    position:absolute;
    left: 10px;
}
dice{
    background: url("../imgs/dice_type_new_1.png");
    width:100px;
    height:100px;
    position:absolute;
    left:0px;
    top:400px;
    background-size: cover;
    text-align: center;
    font-size: 30px;
}

#selectPlayer{
    display: inline-block;
}

dice[score="2"]{
    background: url("../imgs/dice_type_new_1.png");
    background-size: cover;
}

dice[score="2"]{
    background: url("../imgs/dice_type_new_2.png");
    background-size: cover;
}

dice[score="3"]{
    background: url("../imgs/dice_type_new_3.png");
    background-size: cover;
}
dice[score="4"]{
    background: url("../imgs/dice_type_new_4.png");
    background-size: cover;
}
dice[score="5"]{
    background: url("../imgs/dice_type_new_5.png");
    background-size: cover;
}
dice[score="6"]{
    background: url("../imgs/dice_type_new_6.png");
    background-size: cover;
}

dice[score="0"]{
    background: url("../imgs/dice_new_type_1_full.gif");
    background-size: cover;
}
#theDice1{
    display: inline-block;
}
#theDice2{
    left: 100px;
    display: inline-block;
}

#id{
    border-style: solid;
    width: 200px;
    text-align: center;
    display: inline-block;
}

#theObj{
    width: 100%;
}

.select:Hover{
    color: red;
    text-decoration: underline;
}

.plot{
    border-style: solid;
    width: 290px;
    height: 40px;
    margin-bottom: 30px;
    display: inline-block;
}

.battle{
    background: green;
    margin-top: 2px;
    margin-left: 2px;
    width: 0px;
    height: 36px;

}

#battle {
    display: none;
    left: 850px;
    width: 300px;
    top: 100px;
}
